/* pages/book/details/details.wxss */
@import "../../../wxParse/wxParse.wxss";
.goods-image-swiper {
    height: 750rpx;
}
.goods-image {
    width: 100%;
    height: 100%;
}
.time-limit{
    height: 88rpx;
    background-color: #ffa360;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff5527), color-stop(0%,#ff2755));
    background-image: linear-gradient(140deg, #ffa360, #ff5c5c);
    padding: 0 24rpx;
}
.time-limit image{
    width: 112rpx;
    height: 56rpx;
    margin-right: 20rpx;
}
.time-limit-logo-text{
    font-size: 9pt;
    color: #ffffff;
    margin-top: 40rpx;
}
.time-top-text{
    font-size: 7pt;
    color: #ffeecc;
}
.time-info{
    color: #ffffff;
    font-size: 9pt;
    line-height: 1;
}
.time-value{
    /* width: 40rpx;
    height: 36rpx; */
    background-color: #ffffff;
    border-radius: 5rpx;
    color: #3f3f3f;
    font-size: 9pt;
    text-align: center;
    margin: 0 6rpx;
    padding: 9rpx 8rpx;
}
.group-share image{
    width: 40rpx;
    height: 34rpx;
    margin-bottom: 6rpx;
}
.goods-money{
    padding: 0 24rpx;
    font-size:10pt; 
    color: #ff5c5c;
    background-color:#ffffff;
    padding-bottom: 30rpx;
}
.goods-money-num{
    font-size: 20pt;
    line-height: 1;
    font-weight: bold;
    margin: 0rpx 20rpx 0 6rpx;
}
.original-price-title{
    font-size:12pt;
    color: #707070;
}
.original-price{
    text-decoration: line-through; 
}
.group-descount{
    font-size: 7pt;
}
.group-descount-one{
    padding: 0 12rpx;
    background-color: #feeeee;
}
.group-descount-center{
    width: 6rpx;
}
.group-descount-tow{
    padding: 0 12rpx;
    background-color: #feeeee;
}
.order-deal{
    color: #707070;
    font-size: 10pt;
    margin-top: 10rpx;
}
.group-share{
    padding-right:15rpx;
    background-color: transparent !important;
    line-height: normal;
}
button::after {
    content:normal !important;
}

.group-share-text{
    font-size: 8pt;
    color: #707070;
}
.goods-name{
    font-size: 13pt;
    color: #353535;
    padding: 24rpx;
    background-color:#ffffff;
    line-height:1.5;
}
.goods-service{
    /* height: 80rpx; */
    padding: 20rpx 24rpx;
    /* background-color: #f7f7f7; */
    flex-wrap:wrap;
}
.service-item{
    padding-right:20rpx; 
    font-size: 9pt;
    line-height: 1;
    height: 40rpx; 
}
.service-item image{
    width: 24rpx;
    height: 24rpx;
    margin-right: 8rpx;
}
.service-more image ,.shop-more image,.comment-more image{
    width: 16rpx;
    height: 26rpx;
}
.group-short{
    font-size: 9pt;
    color: #ff5c5c
}
.group-short-time{
    font-size: 9pt;
    color: #707070;
}
.go-offered{
    width: 140rpx;
    height: 100%;
    background-color: #ff5c5c;
    color: #ffffff;
    font-size: 9pt;
    margin-left: 36rpx;
}
.goods-comment{
    padding: 0 24rpx;
    background-color: #ffffff;
    margin-top:16rpx;
}
.goods-comment-title{
    height: 80rpx;
    font-size: 9pt;
    color: #919191;
}
.comment-user-pic image{
    width: 66rpx;
    height: 66rpx;
    border-radius: 33rpx;
    margin-right: 20rpx;
}
.goods-comment-item{
    border-top: 1rpx solid #e2e2e2;
    padding-bottom: 36rpx;
}
.goods-comment-user{
    margin-top: 32rpx;
}
.comment-user-name{
    font-size: 11pt;
    color: #353535;
}
.goods-comment-conent{
    font-size: 10pt;
    color: #353535;
    margin: 20rpx 0;
    line-height:1.3;
}
.goods-comment-ginfo{
    font-size: 9pt;
    color: #919191;
    margin-bottom:16rpx; 
}
.pt-goods-content{
    margin-top: 16rpx;
}
.pt-goods-content-title{
    height: 80rpx;
    background-color: #ffffff;
    padding: 0 24rpx;
    color: #666666;
    font-size: 11pt;
    border-bottom: 1rpx solid #e2e2e2;
}
.pt-goods-details{
    box-sizing:border-box;
    padding:0 0 110rpx 0;
    background:#fff;
    overflow-x: hidden;
}
.shop-car{
    position: fixed;
    right: 24rpx;
    top: 60rpx;
    z-index: 999;
}
.shop-car image{
    width: 86rpx;
    height: 86rpx;
}
.pt-goods-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 110rpx;
    z-index: 999;
    font-size:7pt;
    color: #666666; 
    width: 100%;
}
.pt-goods-footer image{
    width:38rpx;
    height: 38rpx;
    margin-bottom:6rpx;
}
.goods-footer-icon{
    background-color: #ffffff;
    border-right: 1rpx solid #e2e2e2;
    width: 110rpx;
    padding:16rpx;
    font-size:7pt;
    color:#666666;
    line-height:1;
    border-radius:0 !important;
}
.alone-buy{
    background-color: #feeeee;
    font-size: 9pt;
    color: #ff5c5c;
    width: 226rpx;
}

.group-buy{
    color: #ffffff;
    font-size: 13pt;
    background-color:#FF4545;
    width:564rpx
}


.number-input-box{
    height: 70rpx;
}
.number-input-box .number-input{
    height: 70rpx !important;
    border: none;
    text-align: center;
    width: 120rpx;
    background: #eee;
    margin: 0 4rpx !important;
}
.number-input-box .number-btn{
    height: 100% !important;
    width: 70rpx;
    background: #eee;
}

.number-input-box .number-btn.disabled{
    background: #f6f6f6;
    color: #aaa;
}
/* .goods-comment-piclist image{
    width: 160rpx;
    height: 160rpx;
    border-radius: 4rpx;
    margin-right: 16rpx;
} */
.comment-pic-shell{
    width: 160rpx;
    height: 160rpx;
    border-radius: 4rpx;
    margin-right: 16rpx;
    overflow: hidden;
    display: inline-block;
}
/* 门店 */
.shop{
    background-color: #ffffff;
    margin-bottom: 20rpx;
    padding: 0 24rpx;
    font-size: 11pt;
}
.shop-title{
    height: 72rpx;
    font-size: 10pt;
    color: #a4a4a4;
    border-bottom: 1rpx solid #e2e2e2;
}
.shop-info{
    border-bottom: 1rpx solid #e2e2e2; 
    padding: 30rpx 0;
}
.shop-name{
    margin-bottom: 20rpx;
    color: #353535;
}
.shop-addres,.shop-time{
    color: #999999;
}
.all-shop{
    color: #00a0e9;
    height: 80rpx;
}


.tab-group .tab-group-header{
    background: #fff;
    border-bottom: 1rpx solid #e3e3e3;
}

.tab-group .tab-group-header .tab-group-item text{
    height: 100rpx;
    border-bottom: 2rpx solid transparent;
}

.tab-group .tab-group-header .tab-group-item.active text{
    color: #ff4544;
    border-bottom-color: #ff4544;
}
.tab-group .tab-group-body .tab-group-item{
    display: none;
}

.tab-group .tab-group-body .tab-group-item.active{
    display: block;
}

.comment-count{
    background: #fff;
    margin-bottom: 20rpx;
}

.comment-count .comment-count-item{
    text-align: center;
    padding: 20rpx 0;
    font-size: 9pt;
}
.comment-item{
    background: #fff;
    border-bottom: 1rpx solid #e3e3e3;
    padding: 32rpx 24rpx;
}
.comment-item .nickname{
    padding-left: 24rpx;
    height: 70rpx;
    font-weight: bolder;
}
.comment-item .addtime{
    color: #888;
}
.comment-item .pic-list{
    margin-left: -8rpx;
    margin-top: -8rpx;
}
.comment-item .pic-item{
    width: 200rpx;
    height: 200rpx;
    margin-left: 8rpx;
    margin-top: 8rpx;
    display: inline-block;
    float: left;
}
.comment-item .score-tag{
    display: inline-block;
    background: #eee;
    font-size: 9pt;
    padding: 4rpx 12rpx;
    border-radius: 5rpx;
}
.tab-group{
    padding-bottom:100rpx;
}
.goods-detail{
    box-sizing: border-box;
    padding: 24rpx 0;
    background: #fff;
}
.goods-detail text,
.goods-detail image,
.goods-detail view{
    box-sizing: border-box;
    max-width: 100%;
}

.share-modal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.0);
    z-index: 1000;
    transform: translateY(100%);
    transition: background 250ms;
}

.share-modal .share-modal-body{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    padding-top: 60rpx;
    transform: translateY(100%);
    transition: transform 250ms;
}

.share-modal.active{
    transform: translateY(0);
    background: rgba(0,0,0,.5);
}

.share-modal.active .share-modal-body{
    transform: translateY(0);
}

.share-modal .share-bottom{
    text-align: center;
    font-size: 9pt;
    margin: 0;
    padding: 0;
    margin-bottom: 60rpx;
    line-height: inherit;
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
    display: inline-block;
}

.share-modal .share-bottom:after{
    display: none;
}

.share-modal .share-bottom image{
    width: 120rpx;
    height: 120rpx;
    margin-bottom: 12rpx;
    border-radius: 999rpx;
    border: 1rpx solid #eee;
}

.share-modal .share-bottom:active image{
    opacity: .7;
}

.share-modal .share-modal-close{
    background: #fff;
    height: 100rpx;
    border-top: 1rpx solid #eee;
}

.goods-qrcode-modal{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,.5);
    padding: 40rpx;
    transform: translateY(100%);
    opacity: .5;
    transition: opacity 250ms;
    visibility: hidden;
}

.goods-qrcode-modal.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.goods-qrcode-body{
    background: #fff;
    height: 100%;
    border-radius: 10rpx;
    z-index: 99999;
}

.goods-qrcode-modal .goods-qrcode-box{
    height: 100%;
    position: relative;
    box-shadow: 0 0 15rpx rgba(0,0,0,.15);
}

.goods-qrcode-modal .goods-qrcode-loading{
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.goods-qrcode-modal .goods-qrcode{
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
}

.goods-qrcode-modal .goods-qrcode.active{
    display: block;
}

.goods-qrcode-modal .goods-qrcode-close{
    position: absolute;
    top:40rpx;
    right: 40rpx;
    padding: 15rpx;
}