<view class="{{(show_attr_picker||show||no_scroll)?'no-scroll':''}}">
    <view class="attr-picker" wx:if="{{show_attr_picker}}">
        <view class="content-box">
            <view class="flex-row" style="border-bottom: 1rpx solid #e3e3e3;padding: 24rpx 28rpx">
                <view class="flex-grow-0">
                    <view class="goods-pic-box">
                        <block wx:if="{{goods.attr_pic}}">
                            <image mode="aspectFill" src="{{goods.attr_pic}}"></image>
                        </block>
                        <block wx:else>
                            <image mode="aspectFill" src="{{goods.goods_pic_list[0]}}"></image>
                        </block>
                    </view>
                </view>
                <view class="flex-grow-1" style="padding: 0 24rpx">
                    <view style="color:#ff4544;margin-bottom: 12rpx;font-weight: bold">
                        <block wx:if="{{status == 'attr'}}">
                            {{attr_integral}}积分<block wx:if="{{attr_price > 0}}">+￥{{attr_price}}</block>
                        </block>
                        <block wx:else>
                            {{goods.integral}}积分<block wx:if="{{goods.price > 0}}">+￥{{goods.price}}</block>
                        </block>
                    </view>
                    <view style="font-size:9pt">
                        <block wx:if="{{status == 'attr'}}">
                            库存{{attr_num}}{{goods.unit}}
                        </block>
                        <block wx:else>
                            库存{{goods.goods_num}}{{goods.unit}}
                        </block>
                    </view>
                </view>
                <view class="flex-grow-0">
                    <view bindtap="hideAttrPicker" class="flex-x-center flex-y-center" style="width: 100rpx;height: 100rpx">
                        <image style="width: 30rpx;height: 30rpx" src="/images/icon-close.png" />
                    </view>
                </view>
            </view>
            <scroll-view scroll-y="true" style="max-height: 650rpx;">
                <view style="padding: 24rpx 28rpx">
                    <view>
                        <view class="attr-group" wx:for="{{attr_group_list}}" wx:for-item="attr_group" wx:if="{{attr_group.attr_list.length>0}}">
                            <view class="attr-group-name">{{attr_group.attr_group_name}}</view>
                            <view class="attr-list">
                                <text class="attr-item {{item.checked?'active':''}}" wx:for="{{attr_group.attr_list}}" data-group-id="{{attr_group.attr_group_id}}" data-id="{{item.attr_id}}" bindtap="attrClick">{{item.attr_name}}
                                </text>
                            </view>
                        </view>
                    </view>
                </view>
            </scroll-view>
        </view>
    </view>
    <view style="padding-bottom: 120rpx">
        <swiper class="goods-image-swiper" autoplay="{{autoplay}}" interval="5000" duration="300" indicator-dots="true" circular="true" bindchange="hide">
            <block wx:for="{{goods.goods_pic_list}}">
                <swiper-item>
                    <image bindtap="onGoodsImageClick" data-index="{{index}}" class="goods-image" src="{{item}}" mode="aspectFill" />
                </swiper-item>
            </block>
        </swiper>

        <view class="goods-info" style="background: #fff;padding:32rpx 24rpx;border-bottom: 1rpx solid #eee ">
            <view style="font-weight: bold;margin-bottom: 24rpx;line-height: 1.7">{{goods.name}}</view>
            <view class="flex-row flex-y-center">
                <view class="flex-grow-1 flex-row flex-y-bottom">
                    <view class="flex-grow-0" style="font-weight: bold;color: #ff4544;margin-right: 32rpx">
                        <text>{{goods.integral}}积分</text> 
                        <block wx:if="{{goods.price > 0}}">
                            <text style="font-size: 9pt;">+￥</text>
                            <text style="font-size: 13pt">{{goods.price}}</text>
                        </block>
                    </view>
                    <view class="flex-grow-0" style="margin-right: 32rpx">
                        <text style="font-size: 9pt;color: #888;">原价:<text style="text-decoration: line-through">{{goods.original_price}}</text>
                        </text> 
                    </view>
                </view>
                <view class="flex-grow-0 hide">
                    <button bindtap="showShareModal" class="share-btn" plain="true">
                        <image style="width: 40rpx;height: 40rpx" src="/images/icon-share.png" />
                        <view style="color: #888">分享</view>
                    </button>
                </view>
            </view>
            <view class='hide' style="font-size: 9pt;color: #888;">已成交{{}}笔</view>
        </view>
        <view wx:if="{{goods.service_list&&goods.service_list.length>0}}" class="bg-white mb-20 flex-row check-list">
            <view class="check-item flex-y-center" wx:for="{{goods.service_list}}">
                <image src="/images/icon-check.png"></image>
                <text>{{item}}</text>
            </view>
        </view>
        <view wx:else class="mb-20"></view>

        <view bindtap="showAttrPicker" class="flex-row flex-y-center" style="background: #fff;padding:0 24rpx;margin-bottom: 20rpx;height: 100rpx;">
            <view class="flex-grow-1 flex-row flex-y-center">
                <text>选择</text>
                <text style="margin-left: 40rpx;font-size: 9pt;color: #888888">规格</text>
            </view>
            <view class="flex-grow-0">
                <image style="width: 16rpx;height: 26rpx" src="/images/icon-jiantou-r.png" />
            </view>
        </view>
        <view wx:if="{{goods.mch}}" class="flex flex-row" style="background: #fff;margin-bottom: 20rpx;padding: 24rpx;">
            <view class="flex-grow-0" style="padding-right: 24rpx">
                <image src="{{goods.mch.logo}}" style="width: 80rpx;height: 80rpx;border: 1rpx solid #eee "></image>
            </view>
            <view class="flex-grow-1">
                <view style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{goods.mch.name}}</view>
                <view style="font-size: 9pt;color: #888">
                    <text style="margin-right: 30rpx">商品数量：{{goods.mch.goods_num}}</text>
                    <text>已售：{{goods.mch.sale_num}}</text>
                </view>
            </view>
            <view class="flex-grow-0 flex-y-center">
                <navigator style="border: 1rpx solid #e3e3e3;border-radius: 8rpx;padding:10rpx 20rpx;font-size:9pt;color#888;display: inline-block" url="/mch/shop/shop?mch_id={{goods.mch.id}}" open-type="redirect">进店逛逛</navigator>
            </view>
        </view>

        <view class="tab-group">
            <view class="flex-row tab-group-header hide">
                <view bindtap="tabSwitch" data-tab="detail" class="flex-grow-1 flex-x-center tab-group-item {{tab_detail}}">
                    <text class="flex-y-center">商品详情</text>
                </view>
                <view bindtap="tabSwitch" data-tab="comment" class="flex-grow-1 flex-x-center tab-group-item {{tab_comment}}">
                    <text class="flex-y-center">评价</text>
                </view>
            </view>
            <view class="tab-group-body">
                <view class="tab-group-item {{tab_detail}}">
                    <view class="goods-detail">
                        <import src="../../../wxParse/wxParse.wxml" />
                        <template is="wxParse" data="{{wxParseData:detail.nodes}}" /> 
                    </view>
                </view>
                <view class="tab-group-item {{tab_comment}}">
                    <view class="comment-count flex-row">
                        <view class="comment-count-item flex-grow-1 flex-x-center flex-col">
                            <view>全部</view>
                            <view>({{comment_count.score_all>999?'999+':comment_count.score_all}})</view>
                        </view>
                        <view class="comment-count-item flex-grow-1 flex-x-center flex-col">
                            <view>好评</view>
                            <view>({{comment_count.score_3>999?'999+':comment_count.score_3}})</view>
                        </view>
                        <view class="comment-count-item flex-grow-1 flex-x-center flex-col">
                            <view>中评</view>
                            <view>({{comment_count.score_2>999?'999+':comment_count.score_2}})</view>
                        </view>
                        <view class="comment-count-item flex-grow-1 flex-x-center flex-col">
                            <view>差评</view>
                            <view>({{comment_count.score_1>999?'999+':comment_count.score_1}})</view>
                        </view>
                    </view>
                    <view class="comment-list">
                        <view class="comment-item flex-row" wx:for="{{comment_list}}">
                            <view class="flex-grow-0" style="overflow: visible">
                                <image src="{{item.avatar_url}}" style="width: 70rpx;height: 70rpx;border-radius: 1000rpx" mode="aspectFill"></image>
                            </view>
                            <view class="flex-grow-1">
                                <view class="flex-row mb-20">
                                    <view class="flex-grow-1 flex-y-center nickname">{{item.nickname}}</view>
                                    <view class="flex-grow-0 flex-y-center addtime">{{item.addtime}}</view>
                                </view>
                                <view class="mb-20">{{item.content}}</view>
                                <view class="pic-list" wx:if="{{item.pic_list&&item.pic_list.length>0}}">
                                    <image bindtap="commentPicView" wx:for="{{item.pic_list}}" wx:for-index="{{pic_index}}" data-index="{{index}}" data-pic-index="{{pic_index}}" src="{{item}}" mode="aspectFill" class="pic-item"></image>
                                </view>
                                <view wx:if="{{item.reply_content}}" class="reply">商家: <view class="reply-content">{{item.reply_content}}</view></view>
                            </view>
                        </view>
                    </view>
                </view>
            </view>
        </view>
    </view>
    <view class="flex-row bar-bottom">
        <view class="flex-grow-0 flex-row">

        <navigator class="flex-grow-0 flex-y-center bar-bottom-btn" url="/pages/index/index" open-type="redirect">
            <view>
                <image src="/images/icon-store.png"></image>
                <text>首页</text>
            </view>
        </navigator>

        <view wx:if="{{goods.is_favorite && goods.is_favorite==1}}" bindtap="favoriteRemove" class="flex-grow-0 flex-y-center bar-bottom-btn hide">
            <view>
                <image src="/images/icon-favorite-active.png"></image>
                <text>已收藏</text>
            </view>
        </view>
        <view wx:else bindtap="favoriteAdd" class="flex-grow-0 flex-y-center bar-bottom-btn hide">
            <view>
                <image src="/images/icon-favorite.png"></image>
                <text>收藏</text>
            </view>
        </view>

        </view>
        <view class="flex-grow-1 flex-row">
            <view class="flex-grow-1 flex-y-center flex-x-center buy-now" catchtap="exchangeGoods">立即兑换</view>
        </view>
    </view>
</view>

<view class="share-modal {{share_modal_active}}">
    <view class="share-modal-body">
        <view class="flex-row">
            <view class="flex-grow-1 flex-x-center">
                <button open-type="share" class="share-bottom">
                    <image src="/images/icon-share-friend.png"></image>
                    <view>分享给朋友</view>
                </button>
            </view>
            <view class="flex-grow-1 flex-x-center">
                <view bindtap="getGoodsQrcode" class="share-bottom">
                    <image src="/images/icon-share-qrcode.png"></image>
                    <view>生成商品海报</view>
                </view>
            </view>
        </view>
        <view bindtap="shareModalClose" class="share-modal-close flex-y-center flex-x-center">关闭</view>
    </view>
</view>

<view class="goods-qrcode-modal {{goods_qrcode_active}}">
    <view class="goods-qrcode-body flex-col">
        <view class="flex-grow-1" style="position: relative">
            <view style="position: absolute;left: 0;top:0;width: 100%;height: 100%;padding: 100rpx 100rpx 60rpx">
                <view class="goods-qrcode-box">
                    <view class="goods-qrcode-loading flex-x-center flex-y-center">
                        <view class="flex-x-center flex-col">
                            <image style="width: 150rpx;height: 150rpx" src="/images/loading2.svg"></image>
                            <view style="color: #888">海报生成中</view>
                        </view>
                    </view>
                    <image bindtap="goodsQrcodeClick" mode="aspectFill" class="goods-qrcode {{goods_qrcode?'active':''}}" data-src="{{goods_qrcode}}" src="{{goods_qrcode}}"></image>
                </view>
            </view>
        </view>
        <view class="flex-grow-0 flex-col flex-x-center" style="padding: 0 60rpx 80rpx">
            <view style="margin-bottom: 20rpx;padding: 0 40rpx">
                <button wx:if="{{goods_qrcode}}" bindtap="saveGoodsQrcode" style="background: #ff4544;color: #fff;">
                    保存图片
                </button>
                <button wx:else style="opacity: .4">保存图片</button>
            </view>
            <view style="color: #888;font-size: 9pt;text-align: center">保存至相册</view>
        </view>
        <view class="goods-qrcode-close" bindtap="goodsQrcodeClose">
            <image src="/images/icon-close2.png" style="width: 50rpx;height: 50rpx;display: block"></image>
        </view>
    </view></view>
<include src="/commons/goods/specifications" />
