<!-- 加载公共扩展 -->
<include src="/commons/extension/extension"/>
<!-- 加载底部导航栏（按需） -->
<include src="/commons/navbar/navbar"/>
<view class="after-navber">
    <!-- 页面内容 -->
    <view class="top-bar">
        <view class="search">
            <input name="keyword" placeholder="搜索" confirm-type="search" bindconfirm="searchSubmit"/>
        </view>
        <view class="flex flex-row tab-bar">
            <navigator url="/mch/m/order/order?status=1" open-type="redirect" class="flex-grow-1 flex-x-center">
                <view class="{{status==1?'active':''}}">待付款</view>
            </navigator>
            <navigator url="/mch/m/order/order?status=2" open-type="redirect" class="flex-grow-1 flex-x-center">
                <view class="{{status==2?'active':''}}">待发货</view>
            </navigator>
            <navigator url="/mch/m/order/order?status=3" open-type="redirect" class="flex-grow-1 flex-x-center">
                <view class="{{status==3?'active':''}}">待收货</view>
            </navigator>
            <view class="menu flex-grow-1 flex-x-center">
                <view class="menu-text flex flex-x-center flex-row {{status>3?'active':''}}"
                      bindtap="showMenu">
                    <view class="flex-y-center">
                        <block wx:if="{{status < 4}}">更多</block>
                        <block wx:if="{{status == 4}}">已完成</block>
                        <block wx:if="{{status == 5}}">售后</block>
                        <block wx:if="{{status == 6}}">取消</block>
                    </view>
                    <view class="flex-y-center" style="font-size: 0">
                        <view class="menu-icon">
                            <view></view>
                            <view></view>
                            <view></view>
                        </view>
                    </view>
                </view>
                <view class="menu-list {{show_menu?'show':''}}">
                    <navigator url="/mch/m/order/order?status=4" open-type="redirect">已完成</navigator>
                    <navigator url="/mch/m/order/order?status=5" open-type="redirect">售后</navigator>
                    <navigator url="/mch/m/order/order?status=6" open-type="redirect">取消</navigator>
                </view>
            </view>
        </view>
    </view>

    <view class="order-list">
        <view class="order-item" wx:for="{{order_list}}">
            <block wx:if="{{!item.refund_order}}"><!-- 购物订单 -->
                <navigator url="/mch/m/order-detail/order-detail?id={{item.id}}">
                    <view class="flex flex-row"
                          style="border-bottom: 1rpx solid #eee;font-size: 9pt;padding-bottom: 24rpx;color: #888;margin-bottom: 24rpx">
                        <view class="flex-grow-1">{{item.order_no}}</view>
                        <view class="flex-grow-0">{{item.addtime}}</view>
                    </view>
                    <view wx:for="{{item.goods_list}}" class="flex flex-row" style="margin-bottom: 24rpx">
                        <view class="fklex-grow-0">
                            <image src="{{item.cover_pic}}"
                                   style="width: 156rpx;height: 156rpx;margin-right: 24rpx"></image>
                        </view>
                        <view class="fklex-grow-1">
                            <view class="goods-name">{{item.name}}</view>
                            <view style="font-size: 9pt;color: #888;">
                                <view style="display: inline-block;margin-right: 24rpx" wx:for="{{item.attr}}">
                                    {{item.attr_group_name}}:{{item.attr_name}}
                                </view>
                            </view>
                            <view class="flex flex-row">
                                <view class="flex-grow-1">×{{item.num}}</view>
                                <view class="flex-grow-0" style="color: #ff4544;text-align: right">
                                    {{item.total_price}}
                                </view>
                            </view>
                        </view>
                    </view>
                </navigator>
                <view class="flex flex-row" style="border-top: 1rpx solid #eee;padding-top: 24rpx">
                    <view class="flex-grow-1">合计：{{item.total_price}}</view>
                    <view class="flex-grow-0">
                        <block wx:if="{{item.is_pay==1 && item.is_send==0}}">
                            <button class="order-item-btn" data-index="{{index}}" bindtap="showSendModal">发货</button>
                        </block>
                    </view>
                </view>
            </block>
            <block wx:else><!-- 售后订单 -->

                <navigator url="/mch/m/order-refund/order-refund?id={{item.id}}">
                    <view class="flex flex-row"
                          style="border-bottom: 1rpx solid #eee;font-size: 9pt;padding-bottom: 24rpx;color: #888;margin-bottom: 24rpx">
                        <view class="flex-grow-1">{{item.order_no}}</view>
                        <view class="flex-grow-0">{{item.order_refund_time}}</view>
                    </view>
                    <view class="flex flex-row" style="margin-bottom: 24rpx">
                        <view class="fklex-grow-0">
                            <image src="{{item.cover_pic}}"
                                   style="width: 156rpx;height: 156rpx;margin-right: 24rpx"></image>
                        </view>
                        <view class="fklex-grow-1">
                            <view class="goods-name">{{item.name}}</view>
                            <view style="font-size: 9pt;color: #888;">
                                <view style="display: inline-block;margin-right: 24rpx" wx:for="{{item.attr}}">
                                    {{item.attr_group_name}}:{{item.attr_name}}
                                </view>
                            </view>
                            <view class="flex flex-row">
                                <view class="flex-grow-1">×{{item.num}}</view>
                                <view class="flex-grow-0" style="color: #ff4544;text-align: right">
                                    {{item.total_price}}
                                </view>
                            </view>
                        </view>
                    </view>
                    <view style="margin-bottom: 24rpx">
                        <image src="/mch/images/icon-shouhou.png" style="width: 32rpx;height: 32rpx;display: inline-block;margin-top: 2rpx; margin-right: 16rpx;"></image>
                        <text style="margin-right: 16rpx;">{{item.refund_type}}</text>
                        <text style="margin-right: 16rpx;" wx:if="{{item.status==0}}">待处理</text>
                        <text style="margin-right: 16rpx;" wx:if="{{item.status==1}}">退款完成</text>
                        <text style="margin-right: 16rpx;" wx:if="{{item.status==2}}">换货完成</text>
                        <text style="margin-right: 16rpx;" wx:if="{{item.status==3}}">已拒绝</text>
                    </view>
                </navigator>
                <view class="flex flex-row" style="border-top: 1rpx solid #eee;padding-top: 24rpx">
                    <view class="flex-grow-1">退款金额：￥{{item.refund_price}}</view>
                    <view class="flex-grow-0">
                        <block wx:if="{{item.status==0}}">
                            <button class="order-item-btn" bindtap="refundDeny" data-index="{{index}}">拒绝</button>
                            <button class="order-item-btn" bindtap="refundPass" data-index="{{index}}">同意</button>
                        </block>
                        <block wx:if="{{item.status==1}}">已同意退货退款</block>
                        <block wx:if="{{item.status==2}}">已同意换货</block>
                        <block wx:if="{{item.status==3}}">已拒绝</block>
                    </view>
                </view>

                <!--
                <view class="">
                    <view class="flex flex-row"
                          style="font-size: 9pt;padding-bottom: 24rpx;color: #888;">
                        <view class="flex-grow-1">订单号:{{item.order_no}}</view>
                        <view class="flex-grow-0">{{item.order_time}}</view>
                    </view>
                    <view class="flex flex-row"
                          style="border-bottom: 1rpx solid #eee;font-size: 9pt;padding-bottom: 24rpx;color: #888;margin-bottom: 24rpx">
                        <view class="flex-grow-1">退款号:{{item.order_refund_no}}</view>
                        <view class="flex-grow-0">{{item.order_refund_time}}</view>
                    </view>
                    <view class="flex flex-row" style="margin-bottom: 24rpx">
                        <view class="fklex-grow-0">
                            <image src="{{item.cover_pic}}"
                                   style="width: 156rpx;height: 156rpx;margin-right: 24rpx"></image>
                        </view>
                        <view class="fklex-grow-1">
                            <view>{{item.name}}</view>
                            <view style="font-size: 9pt;color: #888;">
                                <view style="display: inline-block;margin-right: 24rpx" wx:for="{{item.attr}}">
                                    {{item.attr_group_name}}:{{item.attr_name}}
                                </view>
                            </view>
                            <view class="flex flex-row">
                                <view class="flex-grow-1">×{{item.num}}</view>
                                <view class="flex-grow-0" style="color: #ff4544;text-align: right">
                                    {{item.total_price}}
                                </view>
                            </view>
                        </view>
                    </view>
                    <view style="border-top: 1rpx solid #eee;padding-top: 24rpx;padding-bottom: 24rpx">
                        <view class="flex flex-row" style="margin-bottom: 12rpx">
                            <view class="flex-grow-1">收货人：</view>
                            <view class="flex-grow-0">
                                <text style="margin-right: 24rpx">{{item.username}}</text>
                                <text>{{item.mobile}}</text>
                            </view>
                        </view>
                        <view class="flex flex-row">
                            <view class="flex-grow-1">售后类型：</view>
                            <view class="flex-grow-0">{{item.refund_type}}</view>
                        </view>
                    </view>

                    <view class="flex flex-row" style="border-top: 1rpx solid #eee;padding: 24rpx 0;">
                        <view class="flex-grow-0">申请理由：</view>
                        <view class="flex-grow-1">
                            <view>{{item.desc}}</view>
                            <view style="padding-top: 12rpx" wx:if="{{item.pic_list && item.pic_list.length}}">
                                <image wx:for="{{item.pic_list}}" wx:for-index="pindex" src="{{item}}"
                                       style="width: 120rpx;height: 120rpx"
                                       bindtap="showPicList" data-index="{{index}}" data-pindex="{{pindex}}"
                                       mode="aspectFill"></image>
                            </view>
                        </view>
                    </view>

                    <view style="border-top: 1rpx solid #eee;padding-top: 24rpx">
                        <view class="flex flex-row" wx:if="{{item.type==1}}" style="margin-bottom: 12rpx">
                            <view class="flex-grow-1">退款金额：</view>
                            <view class="flex-grow-0" style="color: #ff4544;">￥{{item.refund_price}}</view>
                        </view>
                        <view class="flex flex-row" style="margin-bottom: 12rpx">
                            <view class="flex-grow-1">状态：</view>
                            <view class="flex-grow-0" wx:if="{{item.status==0}}">待处理</view>
                            <view class="flex-grow-0" wx:if="{{item.status==1}}">已同意</view>
                            <view class="flex-grow-0" wx:if="{{item.status==2}}">已拒绝</view>
                        </view>
                        <view class="flex flex-row" wx:if="{{item.status==0}}">
                            <view class="flex-grow-1"></view>
                            <view class="flex-grow-0" wx:if="{{item.status==0}}">
                                <button class="order-item-btn" bindtap="refundPass" data-index="{{index}}">同意</button>
                                <button class="order-item-btn" bindtap="refundDeny" data-index="{{index}}">拒绝</button>
                            </view>
                        </view>
                    </view>
                </view>
                -->

            </block>
        </view>
    </view>
    <view wx:if="{{no_orders}}" style="text-align: center;height: 174rpx;color: #888;font-size: 9pt"
          class="flex-y-center flex-x-center">暂无订单
    </view>
    <view wx:if="{{!no_orders && no_more_orders}}" style="text-align: center;height: 74rpx;color: #888;font-size: 9pt"
          class="flex-y-center flex-x-center">已无更多订单
    </view>
    <view wx:if="{{!no_orders && !no_more_orders}}" class="loading-more {{loading_more?'show':''}}">
        <image style="width: 50rpx;height: 50rpx" src="/images/loading-black.svg"></image>
    </view>

</view>


<view class="order-modal flex flex-x-center flex-y-center {{show_send_modal?'show':''}}">
    <view class="modal-dialog" style="margin-top: -20vh">
        <view class="modal-body">
            <view style="padding-top: 40rpx;text-align: center">选择发货方式</view>
            <view class="flex flex-row" style="padding: 48rpx 24rpx">
                <view class="flex-grow-1" style="text-align: center">
                    <view class="order-item-btn order-modal-btn {{send_type=='express'?'active':''}}"
                          bindtap="switchSendType"
                          data-type="express">快递配送
                    </view>
                </view>
                <view class="flex-grow-1" style="text-align: center">
                    <button class="order-item-btn order-modal-btn {{send_type=='none'?'active':''}}"
                            bindtap="switchSendType"
                            data-type="none">无需物流
                    </button>
                </view>
            </view>
        </view>
        <view class="modal-footer flex flex-row">
            <button class="flex-grow-1 modal-cancel" bindtap="hideSendModal">取消
                <view class="modal-split"></view>
            </button>
            <button class="flex-grow-1 modal-confirm" bindtap="sendSubmit">确认</button>
        </view>
    </view>
    <view class="modal-bg"></view>
</view>