<!-- <view>{{PhoneNumber}}</view> -->
<block wx:if="{{binding}}">
    <view class="binding_pic">
        <image src="/images/binding_pic.png" style="height:100%;width:288rpx;"></image>
    </view>
    <view class="binding_num">
        <view style="font-size:13px;display: flex;justify-content: center;margin-bottom:16rpx;">已绑定手机</view>
        <view style="font-size:15px;display: flex;justify-content: center;">{{binding_num}}</view>
    </view>
    <button class="binding-footer" bindtap="renewal">更换绑定</button>
</block>
<block wx:else>
    <view>
        <view class="binding-header">
            <view class="empower" style="float:left;">
                <text class="binding-phone {{gainPhone?'gainPhone':''}}" bindtap='gainPhone'>微信授权</text>
            </view>
            <block wx:if="{{status}}">
                <view class="empower" style="float:right;">
                    <text class="binding-phone {{handPhone?'handPhone':''}}" bindtap='handPhone'>手动授权</text>
                </view>
            </block>
        </view>
        <view style="height:8rpx;background:#f7f7f7;"></view>
        <block wx:if="{{gainPhone}}">
            <view class="binding-main flex-row">
                <view class='flex-grow-1'>
                    <input maxlength="11" disabled="true" type="number" class="binding-btn {{PhoneNumber?'active':''}}" value='{{PhoneNumber}}' placeholder="授权手机号" name="phone" bindinput="PhoneInput" />
                </view>
                <view class='glex-grow-0'>
                    <button open-type="getPhoneNumber" bindgetphonenumber="getPhoneNumber" style="color:#ff4544;border-left:1rpx solid #e2e2e2;padding-left:50rpx;white-space:nowrap" class="binding-btn" hover-class="none">点击授权</button>
                </view>
            </view>
        </block>

        <block wx:if="{{status}}">
            <block wx:if="{{handPhone}}">
                <view class="binding-main2">
                    <view style="height:100rpx;border-bottom:1rpx solid #e2e2e2;">
                        <input bindinput="HandPhoneInput" maxlength="11" type="number" class="binding-btn {{PhoneNumber?'active':''}}" style="float:left;hieght:100rpx;" name="phone" placeholder="输入手机号" />
                    </view>

                    <view style="height:100rpx;">
                        <input bindinput="CodeInput" maxlength="11" type="number" class="binding-btn {{PhoneNumber?'active':''}}" style="float:left;" name="code" placeholder="输入验证码" maxlength="6" />
                        <block wx:if="{{timer}}">
                            <view style="float:right;color:#ff4544;border-left:1rpx solid #e2e2e2;padding-left:50rpx;" class="binding-btn">{{second}} S</view>
                        </block>
                        <block wx:else>
                            <view bindtap='nextStep' style="color:#ff4544;border-left:1rpx solid #e2e2e2;padding-left:50rpx;white-space:nowrap" class="binding-btn">获取验证码</view>
                        </block>
                    </view>
                </view>
            </block>
        </block>

        <button class="binding-footer" bindtap="onSubmit">确认</button>
    </view>
</block>